style{
    background-color: bisque;
}

.header-about{
    display: flex;
    justify-content: center;
    padding: 5px;
}

    .btn-about {
       
        margin: 5px;
        font-size: large;
    }

.main-about {
    text-align: center;
    border-bottom: 4px solid #222;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.about-section {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

    .music-about {
        display: flex;
        justify-content: left;
        background-color:bisque;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

        .text-about {
            margin-left: 10px;      
        }

        .img-music-about {
            display: flex;
            justify-content: left;
            height: 250px;
            width: auto;
            background: grey;
            padding: 5px;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }
    .outdoors-about{
        display: flex;
        justify-content: left;
        background-color:bisque; 
    }

        .img-outdoors-about {
            display: flex;
            justify-content: left;
            height: 406.5px;
            width: auto;
            background: grey;
            padding: 5px;
        }

     .lucy-about{
         display: flex;
         justify-content: left;
         background-color:bisque;
         font-family: Georgia, 'Times New Roman', Times, serif;

      }
    
         .img-lucy-about {
             display: flex;
             justify-content: left;
             height: 260px;
             width: auto;
             background: grey;
             padding: 5px;
         }