style{
    background-color: bisque;
}

.header-about{
    display: flex;
    justify-content: center;
}

    .btn-about {
       
        margin: 5px;
        font-size: large;
    }

.main-about {
    text-align: center;
}

.about-section {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 2px dotted greenyellow;
}

    .music-about {
        display: flex;
        justify-content: left;
        background-color:bisque;
        border: 2px dotted blue
    }

        .text-about {
            margin-left: 10px;      
        }

        .img-music-about {
            display: flex;
            justify-content: left;
            height: 250px;
            width: auto;
            background: grey;
            padding: 5px;
            border: 2px dotted red;
        }
    .outdoors-about{
        display: flex;
        justify-content: left;
        background-color:bisque; 
        border: 2px dotted blue;
    }

        .img-outdoors-about {
            display: flex;
            justify-content: left;
            height: 406.5px;
            width: auto;
            background: grey;
            padding: 5px;
            border: 2px dotted red;
        }

     .lucy-about{
         display: flex;
         justify-content: left;
         background-color:bisque;
         border: 2px dotted blue;
      }
    
         .img-lucy-about {
             display: flex;
             justify-content: left;
             height: 260px;
             width: auto;
             background: grey;
             padding: 5px;
             border: 2px dotted red;
         }