.main {
    display: flex;
}

    .keys {
        justify-content: left;
    }

        .img_piano {
            width: 300px;
            length: auto;
        
        }

    .main_text {
        display: block;
        justify-content: left;
        margin-left: 10px;
    }

        .about {

        }
        
        .buttons_about {
            margin-top: 20px;
        }

            .buttons_about1 {
                display: flex;
                justify-content: center;

            }

            .buttons_about2 {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                
            }
button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: white;
    color: black
}


.journal_main {
    display: block;
    justify-content: center;
}

    .journal_header {
        display: flex;
        justify-content: space-around;
    }

    .journal_intro {
        margin-top: 10px;
        display: flex;
        border: 3px solid grey;
        border-radius: 10px;
        background-color: white;
    }

        .journal_intro_img {
            width: 100px;
            justify-content: left;
            margin-top: 2px;
            margin-left: 5px;
            border-radius: 25px;
        }

        .journal_intro_text {
            margin-left: 15px;
            font-size: 14px;
            text-align: left;
            margin: 5px;
            padding: 10px;
        }

    .journal_text {
            background-color: white;
            border: 3px solid grey;
            border-radius: 10px;
            margin: 5px;
            padding: 10px;
    }

    .underline {
        border-bottom: 2px solid #222;
    }
